<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ABOUT PAGE</h1>
    <h2 style="background-color: red; color: white">
      <%if(hasOwnProperty('user')){%> <%=user.userName%> <%}%>
    </h2>
    <br />
    <h2 style="background-color: red; color: white">
      <%if(hasOwnProperty('user')){%> <%=user.email%> <%}%>
    </h2>
    <a class="btn btn-primary" href="/product">Product</a>
    <a class="btn btn-primary" href="/">Home</a>
    <a class="btn btn-primary" href="/logout">LogOut</a>
  </body>
</html>
