<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a class="btn btn-primary m-4" href="/login">Login</a>
  </br>
    <a class="btn btn-primary m-4" href="/signUp">Sign Up</a>
    <a
    class="btn btn-primary"
      href="/product"
      >Product</a
    >
    <a
    class="btn btn-primary"
      href="/about"
      >About page</a
    >
  </body>
</html>
